<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StationMapper">
    <resultMap id="BaseResultMap" type="com.che.model.Station">
        <id column="station_id" property="stationId" jdbcType="BIGINT"/>
        <result column="station_name" property="stationName" jdbcType="VARCHAR"/>
        <result column="latitude" property="latitude" jdbcType="REAL"/>
        <result column="longitude" property="longitude" jdbcType="REAL"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    station_id, station_name, latitude, longitude, create_time, update_time
  </sql>

    <select id="selectByCond" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from tb_station
        <where>
            <if test="stationId != null">
                station_id = #{stationId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_station
    where station_id = #{stationId,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.che.model.Station" useGeneratedKeys="true" keyColumn="station_id"
            keyProperty="stationId">
    insert into tb_station (station_name, latitude,
      longitude, create_time, update_time
      )
    values (#{stationName,jdbcType=VARCHAR}, #{latitude,jdbcType=REAL},
      #{longitude,jdbcType=REAL}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>

    <insert id="insertSelective" parameterType="com.che.model.Station">
        insert into tb_station
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stationId != null">
                station_id,
            </if>
            <if test="stationName != null">
                station_name,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stationId != null">
                #{stationId,jdbcType=INTEGER},
            </if>
            <if test="stationName != null">
                #{stationName,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=REAL},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=REAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.che.model.Station">
        update tb_station
        <set>
            <if test="stationName != null">
                station_name = #{stationName,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=REAL},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=REAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where station_id = #{stationId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.che.model.Station">
    update tb_station
    set station_name = #{stationName,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=REAL},
      longitude = #{longitude,jdbcType=REAL},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where station_id = #{stationId,jdbcType=INTEGER}
  </update>
</mapper>