<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TripGorderMapper" >
  <resultMap id="BaseResultMap" type="com.che.model.TripGorder" >
    <id column="gorder_id" property="gorderId" jdbcType="BIGINT" />
    <result column="gorder_user_id" property="gorderUserId" jdbcType="BIGINT" />
    <result column="gorder_time" property="gorderTime" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    gorder_id, gorder_user_id, gorder_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_trip_gorder
    where gorder_id = #{gorderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_trip_gorder
    where gorder_id = #{gorderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.che.model.TripGorder" >
    insert into tb_trip_gorder (gorder_id, gorder_user_id, gorder_time, 
      create_time, update_time)
    values (#{gorderId,jdbcType=BIGINT}, #{gorderUserId,jdbcType=BIGINT}, #{gorderTime,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.che.model.TripGorder" >
    insert into tb_trip_gorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gorderId != null" >
        gorder_id,
      </if>
      <if test="gorderUserId != null" >
        gorder_user_id,
      </if>
      <if test="gorderTime != null" >
        gorder_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gorderId != null" >
        #{gorderId,jdbcType=BIGINT},
      </if>
      <if test="gorderUserId != null" >
        #{gorderUserId,jdbcType=BIGINT},
      </if>
      <if test="gorderTime != null" >
        #{gorderTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.che.model.TripGorder" >
    update tb_trip_gorder
    <set >
      <if test="gorderUserId != null" >
        gorder_user_id = #{gorderUserId,jdbcType=BIGINT},
      </if>
      <if test="gorderTime != null" >
        gorder_time = #{gorderTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where gorder_id = #{gorderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.che.model.TripGorder" >
    update tb_trip_gorder
    set gorder_user_id = #{gorderUserId,jdbcType=BIGINT},
      gorder_time = #{gorderTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where gorder_id = #{gorderId,jdbcType=BIGINT}
  </update>
</mapper>